<ion-header>
  <ion-toolbar>
    <ion-title>Publica</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let document of documents | async">

      <ion-label>

        
        <h2>Poema: {{document.text}}</h2>


      </ion-label>



      
    </ion-item>

  </ion-list>

    <ion-item lines="full">
      <ion-label position= "floating">Email</ion-label>
      <ion-input type= "text" #email></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position= "floating">Password</ion-label>
      <ion-input type= "Password" #password></ion-input>

    </ion-item>
  
    <ion-button (click)="login(email,password)">iniciar sesion</ion-button>
  <ion-button (click)="LoginGoogle()">
    Login Google
  </ion-button>

</ion-content>
